# Server Configuration
PORT=5000

# Prospeo Sourcing API Key
PROSPEO_API_KEY=

# Google Gemini AI Personalization API Key
GEMINI_API_KEY=

# Brevo SMTP/Transactional Email API Key
BREVO_API_KEY=
SENDER_EMAIL=
SENDER_NAME=
